<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>TopServlet</display-name>
    <servlet-name>TopServlet</servlet-name>
    <servlet-class>home.TopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopServlet</servlet-name>
    <url-pattern>/TopServlet</url-pattern>
  </servlet-mapping>
  <display-name>hotel_booking_system</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>home.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>home.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>profile.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>profile.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexHotelServlet</display-name>
    <servlet-name>IndexHotelServlet</servlet-name>
    <servlet-class>hotel.IndexHotelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexHotelServlet</servlet-name>
    <url-pattern>/IndexHotelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexRoomServlet</display-name>
    <servlet-name>IndexRoomServlet</servlet-name>
    <servlet-class>room.IndexRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexRoomServlet</servlet-name>
    <url-pattern>/IndexRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowRoomServlet</display-name>
    <servlet-name>ShowRoomServlet</servlet-name>
    <servlet-class>room.ShowRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowRoomServlet</servlet-name>
    <url-pattern>/ShowRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookServlet</display-name>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>book.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/BookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmBookingServlet</display-name>
    <servlet-name>ConfirmBookingServlet</servlet-name>
    <servlet-class>book.ConfirmBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmBookingServlet</servlet-name>
    <url-pattern>/ConfirmBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexBookingServlet</display-name>
    <servlet-name>IndexBookingServlet</servlet-name>
    <servlet-class>book.IndexBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexBookingServlet</servlet-name>
    <url-pattern>/IndexBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowBookingServlet</display-name>
    <servlet-name>ShowBookingServlet</servlet-name>
    <servlet-class>book.ShowBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBookingServlet</servlet-name>
    <url-pattern>/ShowBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelBookingServlet</display-name>
    <servlet-name>CancelBookingServlet</servlet-name>
    <servlet-class>book.CancelBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelBookingServlet</servlet-name>
    <url-pattern>/CancelBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBookingServlet</display-name>
    <servlet-name>UpdateBookingServlet</servlet-name>
    <servlet-class>book.UpdateBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBookingServlet</servlet-name>
    <url-pattern>/UpdateBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmBookingUpdateServlet</display-name>
    <servlet-name>ConfirmBookingUpdateServlet</servlet-name>
    <servlet-class>book.ConfirmBookingUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmBookingUpdateServlet</servlet-name>
    <url-pattern>/ConfirmBookingUpdateServlet</url-pattern>
  </servlet-mapping>
</web-app>